/** Revamped.css contains all the css code for the revamped website */

img {
    border-radius: 50%;
    width: 250px;
    border: 10px solid #5CDB95;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    display: block;
}

body {
    background-color: #379683;
    color: #05386B;
    font-family: "Lucida Console", Courier, monospace;
    margin: 0;
}

h1 {
    margin: 2px;
    text-align: center;
}

p {
    text-align: center;
}

.top {
    margin-top: 10px;
}

/** style for nav bar */
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #5CDB95;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    
    position: relative;
}

nav a {
    color: #05386B;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #05386B; /** change this to a different color (on hover over text) */
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #05386B;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

hr {
    margin: 0;
    margin-bottom: 10px;
}

h1 a {
    text-decoration: none;
    color: #05386B;
}